// RPI pico pinctrl bindings: zephyr/include/zephyr/dt-bindings/pinctrl/rpi-pico-pinctrl-common.h

/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
        zephyr,shell-uart = &cdc_acm_uart0;
    };

    motor_pwms: motor_pwms {
        compatible = "dormdash,motor-pwms";

        min-pulse = <PWM_USEC(700)>;
        max-pulse = <PWM_USEC(2500)>;

        pwms = <&pwm 2 PWM_USEC(50) PWM_POLARITY_NORMAL>,
               <&pwm 9 PWM_USEC(50) PWM_POLARITY_NORMAL>,
               <&pwm 8 PWM_USEC(50) PWM_POLARITY_NORMAL>,
               <&pwm 0 PWM_USEC(50) PWM_POLARITY_NORMAL>;

	    pwm-names = "motor0", "motor1", "motor2", "motor3";
    };

    qenc0: qenc0 {
        compatible = "dormdash,qenc-gpios";
        gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>,
                <&gpio0 7 GPIO_ACTIVE_HIGH>;
    };

//    qenc1: qenc1 {
//        gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>,
//                <&gpio0 9 GPIO_ACTIVE_HIGH>;
//    };

};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};

//&pico_header {
//
//  n1: quadrature_enc0 {
//          gpio-hog;
//          gpios = < 6 GPIO_ACTIVE_HIGH>,
//                  <7 GPIO_ACTIVE_HIGH>;
//          output-low;
//  };
//
//};

// I2C bus
&i2c0 {
    status = "okay";

    lidar0: lidar@29 {
        compatible = "st,vl53l0x";
        reg = <0x29>; // I2C Address
        status = "okay";
    };

};

// PWM
// Params: zephyr/dts/bindings/pwm/raspberrypi,pico-pwm.yaml
&pwm {
    status = "okay";
};

&pwm_ch4b_default {
    group1 {
        pinmux = <PWM_4B_P25>, <PWM_4B_P9>, <PWM_4A_P8>, <PWM_0A_P16>, <PWM_0B_P17>, <PWM_0A_P0>, <PWM_0B_P1>;
    };
};
