
/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
        zephyr,shell-uart = &cdc_acm_uart0;
    };

    motor_pwms: motor_pwms {
        compatible = "dormdash,motor-pwms";

        max-pulse = <PWM_USEC(50)>;

        pwms = <&pwm 14 PWM_USEC(50) PWM_POLARITY_NORMAL>,
               <&pwm 15 PWM_USEC(50) PWM_POLARITY_NORMAL>,
               <&pwm 12 PWM_USEC(50) PWM_POLARITY_NORMAL>,
               <&pwm 13 PWM_USEC(50) PWM_POLARITY_NORMAL>;

	    pwm-names = "motor0_forward", "motor0_backward", "motor1_forward", "motor1_backward";
    };

    qenc0: qenc0 {
        compatible = "dormdash,qenc-gpios";
        gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>,
                <&gpio0 9 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };

    qenc1: qenc1 {
        compatible = "dormdash,qenc-gpios";
        gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>,
                <&gpio0 11 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };

};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};

&uart0 {
    current-speed = <115200>;
    status = "okay";
};


// I2C bus
&i2c0 {
    status = "okay";

    // LIDAR - declarations ---------------------------
    // Notes: Each lidar module has default address 0x29.
    // The x-shut gpio is set to low in order to set the address of each lidar module
    // one at a time to the overlay node's specified address. Then gpio is rises after setting
    // address.

    lidar0: lidar@45 {
        compatible = "st,vl53l0x";
        reg = <0x45>; // I2C Address
        status = "okay";

        xshut-gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
    };

    lidar1: lidar@46 {
        compatible = "st,vl53l0x";
        reg = <0x46>; // I2C Address
        status = "okay";

        xshut-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
    };

    lidar2: lidar@47 {
        compatible = "st,vl53l0x";
        reg = <0x47>; // I2C Address
        status = "okay";

        xshut-gpios = <&gpio0 18 GPIO_ACTIVE_LOW>;
    };

    lidar3: lidar@48 {
        compatible = "st,vl53l0x";
        reg = <0x48>; // I2C Address
        status = "okay";

        xshut-gpios = <&gpio0 19 GPIO_ACTIVE_LOW>;
    };

    lidar4: lidar@49 {
        compatible = "st,vl53l0x";
        reg = <0x49>; // I2C Address
        status = "disabled";

        xshut-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
    };

};

// PWM
// Params: zephyr/dts/bindings/pwm/raspberrypi,pico-pwm.yaml
&pwm {
    status = "okay";
};

// RPI pico pinctrl bindings: zephyr/include/zephyr/dt-bindings/pinctrl/rpi-pico-pinctrl-common.h
&pwm_ch4b_default {
    group1 {
        // For some reason cannot access PMW on gpio greater than 15.
        // 8, slices, 16 channels???
        pinmux = <PWM_6A_P12>, <PWM_6B_P13>, <PWM_7A_P14>, <PWM_7B_P15>;
    };

};
